@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-style: normal;
    src:

      url("./Pretendard-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-style: normal;
    src:

      url("./Pretendard-SemiBold.woff") format("woff");
  }


  @font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-style: normal;
    src:

      url("./Pretendard-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-style: normal;
    src:

      url("./Pretendard-ExtraBold.woff") format("woff");
  }